arrow==0.15.5
beautifulsoup4==4.7.1
binaryornot==0.4.4
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colour==0.1.5
cookiecutter==1.7.0
cookiejar==0.0.3
cs50==3.2.0
eventlet==0.17.4
firebase-admin==2.17.0
Flask==0.12.2
Flask-Session==0.3.1
Flask-SocketIO==4.1.0
future==0.18.2
google==2.0.2
google-api-core==1.11.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.0
google-cloud-firestore==1.2.0
google-cloud-storage==1.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.21.1
gunicorn==18.0
helpers==0.2.0
html5lib==1.0.1
httplib2==0.12.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jinja2-time==0.2.0
manimlib==0.1.10
MarkupSafe==1.1.1
mechanize==0.4.5
msgpack==0.6.1
nltk==3.4.1
numpy==1.15.0
opencv-python==3.4.2.17
pager==3.3
Pillow==5.2.0
poyo==0.5.0
progressbar==2.5
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycairo==1.19.1
pydub==0.23.0
pylovepdf==1.3.1
pyreadline==2.1
python-dateutil==2.8.1
python-engineio==3.8.2
python-socketio==4.2.0
pytz==2019.1
requests==2.21.0
requests-testadapter==0.3.0
rsa==4.0
scipy==1.1.0
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.3.5
sqlparse==0.3.0
termcolor==1.1.0
tqdm==4.24.0
uritemplate==3.0.0
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.15.4
whichcraft==0.6.1
