awscli
botocore
CacheControl
cachetools
cs50
firebase-admin
Flask
Flask-Session
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
Jinja2
numpy
pandas
render50
requests
SQLAlchemy
sqlparse
virtualenv
