awscli==1.16.239
botocore==1.12.229
CacheControl==0.12.5
cachetools==3.1.1
cs50==4.0.2
firebase-admin==3.0.0
Flask==1.1.1
Flask-Session
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
Jinja2
numpy
pandas
render50
requests
SQLAlchemy
sqlparse
virtualenv
