body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.gradient {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-image: url(/static/home-gradient.gif); /* REPLACE THIS IMAGE TO BE MY OWN GRADIENT OR GENERAL BACKGROUND IMAGE */
}

.header {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (min-width: 1400px) {
    .center-vertically {
        margin-top: 25%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1399px) {
    .center-vertically {
        margin-top: 10%;
        max-width: 100%;
    }
}

.panel {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: white;
    display: block;
}

.panel-a {
    width: 100%;
    height: 100%;
    color: black;
    display: block;
}

a.panel-a:hover {
    text-decoration: none;
    color: black;
}

.figure-padding {
    padding: 5%;
}

.panel-title {
    width: 100%;
    height: 20%;
    font-family: "Montserrat";
    font-size: 14px;
    margin: auto;
}

.panel-preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel1 {
    background-image: url("/static/typesprinter-animation-resized.png");
}

.panel1:hover {
    background-image: url("/static/typesprinter-animation-resized.gif"); /* animation created with Wolfram Mathematica (parametric plotting 3 rotated ellipses and creating points to trace their paths) */
}

.terminal-input:focus {
    outline: none;
}

.terminal {
    width: 1000px;
    margin: auto;
    margin-top: 10%;
    background-color: #1e2325;
    border-radius: 5px;
    font-size: 25px;
}

.terminal-body {
    font-size: 45px;
    color: white;
    background-color: black;
}

.terminal-top {
    background-color: #354146;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.command-start {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.command-main {
    float: left;
    width: 5px; /* accommodate for the caret */
}

.command-end {
    margin-top: 10px;
    float: left;
}

.terminal-input {
    width: 100%;
    color: white;
    border-color: black;
    background-color: black;
}

.code {
    font-family: "Ubuntu Mono", "Adobe Blank", sans-serif;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

.cheat-form {
    float: left;
}

.friendly-font {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.response {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 20%;
    user-select: none;
}

.response-input {
    width: 100%;
}

.wpm-counter {
    float: left;
    padding-left: 5%;
    margin-top: 20%;
    font-size: 50px;
    color: lightgray;
}

.logo {
    font-family: "Montserrat";
    width: 50%;
}

#incorrect {
    background-color: #bc3f5c;
}

#correct {
    color: #3f8e68;
}

nav .navbar-brand .pink
{
    color: #ff157e;
}

nav .navbar-brand .orange
{
    color: #ffa30e;
}

nav .navbar-brand .aqua
{
    color: #00e0ff;
}

nav .navbar-brand .blueviolet
{
    color: #873cff;
}

/*
 * Nav-bar link text/styling adapted from https://openai.com/blog/better-language-models/
 */
.links {
    font-family: ColfaxAI,Helvetica,sans-serif;
    font-size: .75em;
    letter-spacing: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0px;
}

.race-links {
    display: none;
    float: right;
    margin-top: 5%;
}

.race-link {
    display: block;
}

.race-link:hover {
    text-decoration: none;
}

.key {
    display: none;
    margin-top: 10%;
    font-size: 15px;
}

#fastest {
    background-color: #3f8e68;
}

#fast {
    background-color: #a0d58c;
}

#slow {
    background-color: #ea7664;
}

#slowest {
    background-color: #bc3f5c;
}
