{% extends "layout.html" %}


{% block title %}
: Enter a word
{% endblock %}


{% block head %}
    <script type="text/javascript" src="static/terminal.js"></script>
    <script type="text/javascript" src="static/canvas.js"></script>
    <script>
        window.onload = function() { load_term(); load_canvas(); };
    </script>
{% endblock %}


{% block body %}
  <div class="terminal code shadow-lg">
      <canvas id="canvas_terminal" class="canvas-terminal" width="1000px"; height="40px;"></canvas>
      <div class="terminal-body">
          <div class="command-start">
              $ generate -m "
          </div>
          <div class="command-main">
              <form name="starter" action="/ml_practice_index" method="post" class="code">
                  <input type="text" name="first_word" id="term_command" class="terminal-input" oninput="stretch()" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
              </form>
          </div>
          <div class="command-end" id="term_command_end">
              "
          </div>
      </div>
  </div>
{% block tabs %}
{% endblock %}


{% endblock %}
