{% extends "layout.html" %}


{% block title %}
: SPRINT
{% endblock %}

{% block head %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="static/typecheck.js"></script>
  <script type="text/javascript">
      let final_time;

      namespace = '/test'
      var socket = io(namespace);
      let rooms = 0;

      $(document).ready(function() {

          socket.on('room_message', function(message) {
              $('div#temp').append('<br>' + $('<div/>').text(message.data).html());
          });

          socket.on('join_lobby', function(message) {
              loadPassage(message.room, message.passage, (message.players == 1));
          });

          socket.on('update_countdown', function(message) {
              final_time = Date.now() + (message.timer * 1000);
              countdown(message.room);
          });

          socket.on('end_message', function(message) {
              let summary = 'You finished ' + message.place;
              let css = '';

              if (message.place == '1st') {
                  summary += '!';
                  css = 'green';
              } else {
                  summary += '.'
                  css = 'red';
              }
              $('p#place').append(summary).html();
              $('p#place').css({
                  size : '20px',
                  color: css
              });
          });

          $('form#join').submit(function(event) {
              socket.emit('join', {
                  room: $('#room-id').val()
              });
              return false;
          });
      });

      function loadPassage(room_id, passage, locked) {

          $('#container-mini').css({
              display: "none"
          });

          $('#main').css({
              display: "block"
          });

          $('span#incomplete').html('').append(passage);

          if (locked) {
              $('input#user_input').attr('disabled', true);
              $('div#hidden-commands-2').append($('div#hidden-commands').html()).html(); // bodge of the century.

              $('div#countdown').html('Tell your friends to join using Room ID : ' + room_id);
          } else {  // include the 'else' statement so that the first player's input is enabled
              $('div#hidden-commands').html(""); // clear the commands for the joining users--only room creator can have commands
          }
      }

      async function countdown(room) {
          while(final_time >= Date.now()) {
              showAlert(Math.round((final_time - Date.now()) / 1000));
              await new Promise(resolve => setTimeout(resolve, 1000));
          }

          loadMatch(room);
      }

      function loadMatch(room) { // get multiplayer countdown to work
          if (final_time <= Date.now()) { // need to keep this in the while loop so that it doesn't execute before the loop finishes
              $('div#countdown').css({
                  display : "none"
              });

              $('input#user_input').attr('disabled', false);
              loadSocket(socket, room);
              load($("#correct").html(), $("#incorrect").html(), $("#incomplete").html()); // load typecheck.js as late as possible so that both players get the passage processed correctly
          }
      }

      function showAlert(num) { // change CSS to make more like an overlaying alert
          $('div#countdown').html(num);
      }

  </script>
{% endblock %}


{% block body %}
<div id="container-mini" class="container-mini panel-title">
      <form id="join" action="#" class="form-dimens">
          <input type="text" placeholder="Room ID" id="room-id" autocomplete="off" autocorrect="off" spellcheck="false" class="form-elements">
          <br>
          <input type="submit" value="Join Room" autocomplete="off" autocorrect="off" spellcheck="false" class="form-elements">
      </form>
</div>

  <div id="main" class="friendly-font container" style="display: none">
      <div id="passage" class="response">
          <span id="correct"></span><span id="incorrect"></span><span id="incomplete"></span>
          <p id="end_message"></p>
          <p id="place"></p>
          <div id="div-links" class="race-links">
              <a href="/1v1" id="ml-link" class="race-link">Race Another User ></a>
              <a href="/again" id="practice-link" class="race-link">Practice ></a>
              <a href="/generate" id="generate-link" class="race-link">Generate a Passage ></a>
              <a href="/commands" id="1v1-link" class="race-link">Commands ></a>
          </div>
          <div id="speed-breakdown-key" class="key">
              <p>
                  <span id="fastest">&nbsp;&nbsp;&nbsp;</span><span> Fastest Typing</span> <!-- CONSIDER CHANGING TO THE ACTUAL VALUES WHEN THE PASSAGE IS FINISHED -->
              </p>
              <p>
                  <span id="fast">&nbsp;&nbsp;&nbsp;</span><span> Fast Typing</span> <!-- CONSIDER CHANGING TO THE ACTUAL VALUES WHEN THE PASSAGE IS FINISHED -->
              </p>
              <p>
                  <span id="slow">&nbsp;&nbsp;&nbsp;</span><span> Slow Typing</span> <!-- CONSIDER CHANGING TO THE ACTUAL VALUES WHEN THE PASSAGE IS FINISHED -->
              </p>
              <p>
                  <span id="slowest">&nbsp;&nbsp;&nbsp;</span><span> Slowest Typing</span> <!-- CONSIDER CHANGING TO THE ACTUAL VALUES WHEN THE PASSAGE IS FINISHED -->
              </p>
          </div>
          <canvas id="speed-breakdown-text" width="10px" height="10px" class="stats"></canvas>
          <canvas id="speed-graph-interval" width="10px" height="10px" class="stats graphs"></canvas>
          <canvas id="speed-graph-instantaneous" width="10px" height="10px" class="stats graphs"></canvas>
          <input type="text" id="user_input" class="response-input" oninput="check()" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
          <div id="countdown">
          </div>
      </div>
      <div id="wpm_counter" class="wpm-counter">
          0
      </div>
  </div>
  <div id="hidden-commands" style="display: none;">
      {{ commands }}
  </div>
  <div id="hidden-commands-2" style="display: none;">
  </div>

{% endblock %}
