{% extends "layout.html" %}


{% block title %}
: Administrator
{% endblock %}


{% block head %}
    <script type="text/javascript" src="static/canvas.js"></script>
    <script>
        window.onload = function() {
            loadKeyboardListener();
        }
    </script>
{% endblock %}


{% block body %}
  <div class="terminal code shadow-lg" id="term">
      <canvas id="canvas-terminal" class="terminal-top" width="1000px" height="40px"></canvas>
      <canvas id="canvas-terminal-body" width="1000px" height="400px"></canvas>
  </div>

  <form name="command-form" action="/admin" method="post" style="display: none; font-family: Ubuntu Mono;">
      <input name="commands" type="text" value="">
  </form>
{% block tabs %}
{% endblock %}


{% endblock %}
