{% extends "layout.html" %}


{% block title %}
: Enter a word
{% endblock %}


{% block head %}
    <script type="text/javascript" src="static/terminal.js"></script>
    <script type="text/javascript" src="static/canvas.js"></script>
    <script>
        window.onload = function() { load_term(); load_canvas(); };
    </script>
{% endblock %}


{% block body %}
    <!--
    <div>
        <form name="starter" action="/generate" method="post">
            <input type="text" name="first_word" id="term_command" autocomplete="off" autocorrect="off" spellcheck="false" autofocus><br><br>
            <div class="newline">
                <label class="checkbox-label">
                    <input type="checkbox" name="exact" id="exact">
                    <span class="checkbox-custom"></span>
                </label>
            </div>
        </form>
    </div>
    -->

    <div id="container-mini" class="container-mini panel-title">
          <form name="starter" action="/generate" method="post" class="form-dimens-2 form-inline">
              <input type="text" name="first_word" placeholder="Enter a term" id="term_command" class="form-elements float" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
              <!--<label class="checkbox-label float">
                  <input type="checkbox" name="exact" id="exact">
                  <span class="checkbox-custom"></span>
              </label>-->
              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" name="exact" id="exact" class="custom-control-input">
                <label for="exact" class="custom-control-label">
                    &nbsp;
                    Passage must include query
                </label>
              </div>
              <br><br><br>
              <input type="submit" value="Create Passage" class="form-elements" autocomplete="off" autocorrect="off" spellcheck="false">
          </form>
    </div>
{% block tabs %}
{% endblock %}


{% endblock %}
