{% extends "layout.html" %}


{% block title %}
: Enter a word
{% endblock %}


{% block head %}
    <script type="text/javascript" src="static/terminal.js"></script>
    <script type="text/javascript" src="static/canvas.js"></script>
    <script>
        window.onload = function() { load_term(); load_canvas(); };
    </script>
{% endblock %}


{% block body %}
  <div>
      <canvas id="canvas_terminal" width ="1000px"; height="40px;"></canvas>
          <div>
              <form name="starter" action="/generate" method="post">
                  <input type="text" name="first_word" id="term_command" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
              </form>
          </div>
  </div>
{% block tabs %}
{% endblock %}


{% endblock %}
