{% extends "layout.html" %}


{% block title %}
  
{% endblock %}


{% block head %}
{% endblock %}


{% block body %}

<div class="gradient header">
  <div class="container">
  <div class="row center-vertically">
    
    <div class="col-5 col-sm-5 col-md-5 col-xl-4"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/ml_practice_index" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Generate Your Own Passage</b>
            </div>
            <div class="panel-preview panel1">
                <img src="/static/generate-animation.png" style="visibility: hidden;">
            </div>
          </div>
        </figure>
      </a>
    </div>
    
    <div class="col-5 col-sm-5 col-md-5 col-xl-4"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/practice" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Practice</b>
            </div>
            <div class="panel-preview panel2">
                <img src="/static/typesprinter-animation-resized.png" style="visibility: hidden;">
            </div>
          </div>
        </figure>
      </a>
    </div>
    
    <div class="col-5 col-sm-5 col-md-5 col-xl-4"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/1v1" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="figure-padding">
            <div class="panel-title">
              <b>Race Another User</b>
            </div>
            <div class="panel-preview panel1">
                <img src="/static/typesprinter-animation-resized.png" style="visibility: hidden;">
            </div>
          </div>
        </figure>
      </a>
    </div>
    
    
    </div>
  </div>
</div>

{% block tabs %}
{% endblock %}


{% endblock %}
