{% extends "layout.html" %}


{% block title %}
  
{% endblock %}


{% block head %}
{% endblock %}


{% block body %}
<div class="gradient header">
<section class="panels">
  <div class="row row-height-adjust">
    
    <div class="col col-adjust"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/ml_practice_index" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="panel-title">
            <b>Better Language Models</b>
          </div>
          <img src="/static/blm.jpg" class="panel-preview">
        </figure>
      </a>
    </div>
    
    <div class="col col-adjust"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/ml_practice_index" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="panel-title">
            <b>Generate Your Own Passage</b>
          </div>
          <img src="/static/atom-removebg-preview.png" class="panel-preview">
        </figure>
      </a>
    </div>
    
    <div class="col col-adjust"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/ml_practice_index" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="panel-title">
            <b>Title</b>
          </div>
          <img src="/static/favicon.ico" class="panel-preview">
        </figure>
      </a>
    </div>
    
    <div class="col col-adjust"> <!-- col-12 col-sm-6 col-md-4 col-xl-3 -->
      <a href="/ml_practice_index" class="panel-a">
        <figure class="panel shadow-lg">
          <div class="panel-title">
            <b>Title</b>
          </div>
          <img src="/static/favicon.ico" class="panel-preview">
        </figure>
      </a>
    </div>
    
  </div>
</section>
</div>
{% block tabs %}
{% endblock %}


{% endblock %}
