{% extends "layout.html" %}


{% block title %}
: SPRINT
{% endblock %}


{% block head %}
    <script type="text/javascript" src="static/typecheck.js"></script>
    <script>
        window.onload = function() { load(document.getElementById("correct").innerHTML, document.getElementById("incorrect").innerHTML, document.getElementById("incomplete").innerHTML) };
    </script>
{% endblock %}


{% block body %}
<div class="friendly-font container">
    <div id="passage" class="response">
        <span id="correct"></span><span id="incorrect"></span><span id="incomplete">{{ passage }}</span>
        <p id="end_message"></p>
        <input type="text" id="user_input" class="response-input" oninput="check()" autocomplete="off" autocorrect="off" spellcheck="false" autofocus>
        <a href="/again" id="race-link" class="race-link">Race Again ></a>
    </div>
    <div id="wpm_counter" class="wpm-counter">
        0
    </div>
</div>
{% endblock %}
